{{#partial "title"}}My Feed List{{/partial}}

{{# partial "content" }}
<div class="container">
    <div class="col-md-12 col-xs-12">
        <div class="feed well">
            <ul id="feedList">
                <div class="text-center">로딩 중...</div>
            </ul>
            <button class="btn btn-default form-control btn-feed-more" type="button" id="feedMoreBtn">more</button>
        </div>
    </div>
</div>

<!-- popover-config start -->
<div id="popover-config-content" style="display: none;">
    <div class="button"><a href="javascript:void(0);" onclick="Feed.modifyItem(this);">수정</a></div>
    <div class="button"><a href="javascript:void(0);" onclick="Feed.removeItem(this, '/feed');">삭제</a></div>
</div>
<!-- popover-config end -->
{{/partial}}

{{# partial "script-page" }}
    <script type="text/javascript" src="/resource/app/js/feed/app.js"></script>
    <script type="text/javascript">
        $(function(){
            MyFeed.init();
        });
    </script>
{{/partial}}

{{> template/base}}
{{embedded "feed/list"}}
{{embedded "feed/reply"}}