{{!--
Created by IntelliJ IDEA.
User: yion
Date: 2014. 12. 7.
Time: 16:20
To change this template use File | Settings | File Templates.
--}}
{{#partial "style"}}
{{!-- 여기에 사용자 css 정의 --}}
    <link href="/resource/app/js/DualEditor/css/DualEditor.css" rel="stylesheet">
{{/partial}}

{{#partial "plugin-style"}}
{{!-- 여기에 .css 파일 경로 --}}

{{/partial}}
{{#partial "script-header"}}

{{/partial}}

{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
    <!-- contents -->
    <div class="container">
        인증 페이지.
        사용자 인증 정상 처리시 로그인 처리 하여 index로 리다이렉션
    </div>

{{/partial}}


{{# partial "script-page" }}
    <script type="text/javascript">

    </script>
{{/partial}}

{{> template/base}}
