{{!--
Created by IntelliJ IDEA.
User: yion
Date: 2014. 12. 7.
Time: 16:20
--}}

{{#partial "plugin-style"}}
{{!-- 여기에 .css 파일 경로 --}}
    <link href="/resource/public/css/bootstrap-tag-cloud/bootstrap-tag-cloud.css" rel="stylesheet">
{{/partial}}
{{#partial "script-header"}}
    <script type='text/javascript' src="/resource/public/js/bootstrap-tag-cloud/bootstrap-tag-cloud.js"></script>
{{/partial}}

{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}

<!-- contents -->
<div class="container">

    <h3 class="page-header">회원 가입 </h3>
    <!-- form start -->


    <form class="form-horizontal well" style="background-color:#ffffff" role="form" method="post" name="registForm" id="registForm">
        <div class="omb_login">
            <h3 class="omb_authTitle"><a href="#">Sign up with</a></h3>
            <div class="row omb_row-sm-offset-3 omb_socialButtons">
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
                        <i class="fa fa-facebook visible-xs"></i>
                        <span class="hidden-xs">Facebook</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
                        <i class="fa fa-twitter visible-xs"></i>
                        <span class="hidden-xs">Twitter</span>
                    </a>
                </div>
                <div class="col-xs-4 col-sm-2">
                    <a href="#" class="btn btn-lg btn-block omb_btn-google">
                        <i class="fa fa-google-plus visible-xs"></i>
                        <span class="hidden-xs">Google+</span>
                    </a>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3 omb_loginOr">
                <div class="col-xs-12 col-sm-6">
                    <hr class="omb_hrOr">
                    <span class="omb_spanOr">or</span>
                </div>
            </div>

            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6">
                    <form class="omb_loginForm" action="" autocomplete="off" method="POST">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user" style="width:14px"></i></span>
                            <input type="text" class="form-control" name="username" placeholder="Email address">
                        </div>
                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
                            <input type="text" class="form-control" name="username" placeholder="User Nickname">
                        </div>
                        <span class="help-block"></span>

                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock" style="width:14px"></i></span>
                            <input  type="password" class="form-control" name="password" placeholder="Password">
                        </div>
                        <span class="help-block">Password error</span>

                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
                    </form>
                </div>
            </div>
            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-3">
                    <label class="checkbox">

                    </label>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <p class="omb_forgotPwd">
                        <a href="#" data-toggle="modal" data-target="#loginLayer">이미 가입 되어 있습니까?</a>
                    </p>
                </div>
            </div>
        </div>

    </form>
    <!--/form-->
</div>

{{/partial}}
{{# partial "script-body" }}
    <script type="text/javascript">
        // bind the on-change event
        $(document).ready(function() {
            $("#userNick").focusout(function() {
                console.log("usernick focus");
                userEmail = $("#userEmail").val();
                if (!checkValidEmail(userEmail)) {
                    $("#email_text").css("visibility", "visible");

                }
            });
        });

        function checkValidEmail(email) {
            if (email.length < 4) {
                return false;
            }
            var regExp = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!regExp.test(email)) {
                return false;
            } else {
                return true;
            }
        }
    </script>
{{/partial}}

{{> template/base}}