
{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
<button class="btn btn-default" id="loadForm" style="display: none" >Login</button>
<!-- contents -->


{{/partial}}


{{# partial "script-body" }}
<script type="text/javascript">
    // bind the on-change event
    $(document).ready(function () {
        $("#loadForm").click();

        $('#loginForm').formValidation({
            framework: 'bootstrap',
            icon: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                username: {
                    validators: {
                        notEmpty: {
                            message: 'The username is required'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: 'The password is required'
                        }
                    }
                }
            }
        });
    });
</script>
{{/partial}}

{{> template/base}}
