
<div class="best-qna-item">
    <div>
        <strong> <a class="form" href="/wiki/{{wiki.wikiId}}"> Best QA 제목입니다. 제목 어쩌구...</a></strong>
        <span class="comments pull-right"><i class="glyphicon glyphicon-comment"></i> 10</span>
        <br><span class="label label-focus">samsung</span>
        <span class="label label-success">LG</span>
        <span class="label label-warning">스마트폰</span>
    </div>
    <div class="media">
        <a class="pull-left" href="#">
            <div class="user-profile">
                <img alt="avatar" class="profile-image" src="{{user.userImage}}" onerror='this.src="/resource/images/avatar.png"' />
            </div>
        </a>
        <div class="media-body">
            그런거 없습니다.그런거 없습니다.그런거 없습니다.그런거 없습니다.그런거 없습.......그런거 없습니다.그런거....
        </div>
        <div class="user-profile-sm">
            <span class="nickname"><i class="fa fa-pencil-square-o"></i> Q u i c K</span>
        </div>
        <div class="pull-right"><i class="fa fa-clock-o"></i> 2014-04-05 12:12</div>
    </div>
</div>

