
.dualEditor-main{
    width: 100%;
}
.nav-tabs{
    background-color: #f7f7f7;
}

.dualEditor-nav{
    width: 600px;
}
.dualEditor-preview{
    padding-top: 12px;
    border: 1px;
    overflow: scroll;
    height: 170px;
    width: 100%;
}

.dualEditor.form-control {
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize:none;
    overflow:auto;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.dualEditor-table > thead {
    background-color: #eee;
}

div button.dualEditor-wiki-btn {
    background-image: -webkit-linear-gradient(#fcfcfc, #eee);
}

.dualEditor_dropdown a:hover {
    color: #444 !important;
    text-decoration: none;
    background-color: #dde4ef;
}
.dualEditor_color_link {
    padding: 0 !important;
    width: 15px !important;
    height: 15px !important;
    float: left !important;
    border: 2px solid #fff !important;
    font-size: 0;
}

