{{#if updatedWikis}}
    {{#each updatedWikis}}

        <div class="media">
            <a href="#" class="pull-left">
                <div class="user-profile-sm">
                    <img alt="avatar" class="profile-image" src="{{user.userImage}}" onerror='this.src="/resource/images/avatar.png"' />
                </div>
            </a>

            <div class="media-body" style="font-size:13px">
                <a href="/wiki/{{wikiId}}" class="text">{{subString (htmlDelete contents) 0 240 }}</a>
                <span class="badge">{{replyCount}}</span>
            </div>
        </div>

    {{/each}}

    <small><cite title="Source Title" id="getMoreWiki" style="cursor:pointer">더보기</cite></small>
{{^}}
    <div class="media">
        <div class="media-body">
            생성된 위키가 없습니다.
        </div>
    </div>
{{/if}}