{{# partial "header" }}
<header class="navbar navbar-default" id="header">
    <div class="container">

        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LibQA</a>
        </div>

        <nav role="navigation" class="navbar-collapse bs-navbar-collapse collapse">
            <ul class="nav navbar-nav navi-menu">
                <li class="active">
                    <a href="/feed/main">Feeds</a>
                </li>
                <li>
                    <a href="/qa/main">Q&amp;A</a>
                </li>
                <li>
                    <a href="/space/main">Space</a>
                </li>
                <li>
                    <a href="/wiki/main">Wiki</a>
                </li>
                <li>
                    <a href="/myInfo">My Info</a>
                </li>
                <li>
                    <a href="/admin">Admin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navi-info">
                <li class="dropdown">
                    <a aria-expanded="true" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>
                        <li>
                            <a href="/user/signup"><i class="fa fa-fw fa-user-plus"></i> Sign Up</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Sign Out</a>
                            <a href="/user/login"><i class="fa fa-fw fa-gear"></i> Sign in</a>
                        </li>
                    </ul>
                </li>
                <li class="messenger"><a href="#"><i class="fa fa-weixin fa-2x"></i></a></li>
            </ul>
        </nav>
    </div>
</header>
{{/partial}}

{{# partial "footer" }}
<footer id="footer">
    <div class="container">
        <div class="col-md-12 text-center">
            <ul class="list-inline">
                <li>사이트 소개</li>
                <li>Wiki 다운로드</li>
                <li>Contact Us</li>
                <li>Home</li>
            </ul>
        </div>
        <div class="col-md-12 text-center">
            <p class="">
                Copyright © 2015 LibQA™
            </p>
        </div>
    </div>
</footer>


{{/partial}}

{{> template/layout}}