<!--
    * libqa template 정의
    * libqa 의 모든 파일은 /template/base 파일을 정의한다.
-->
<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>    
    <title>{{#block "title"}}{{/block}}</title>                                    

    {{!-- favicon
    <link rel="shortcut icon" href="경로/favicon.ico" type="image/x-icon">
     --}}

    {{!--공통 스타일 영역--}}           
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://bootswatch.com/cerulean/bootstrap.min.css" rel="stylesheet">
    <link href="/resource/public/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/resource/app/css/common.css" rel="stylesheet">

    <!-- page specific plugin styles -->
    {{#block "plugin-style"}}{{/block}}

    <!-- inline styles related to this page -->
    {{#block "style"}}{{/block}}

    {{!--공통 스크립트 영역--}}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="//oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {{#block "script-header"}}{{/block}}
</head>
<body>
<!-- header -->
<header class="navbar navbar-default" id="header">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LibQA</a>
        </div>

        <nav role="navigation" class="navbar-collapse bs-navbar-collapse collapse">
            <ul class="nav navbar-nav navi-menu">
                <li class="active">
                    <a href="/feed/main">Feeds</a>
                </li>
                <li>
                    <a href="/qa/main">Q&amp;A</a>
                </li>
                <li>
                    <a href="/space/main">Space</a>
                </li>
                <li>
                    <a href="/wiki/main">Wiki</a>
                </li>
                <li>
                    <a href="/myInfo">My Info</a>
                </li>
                <li>
                    <a href="/admin">Admin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navi-info">
                <li class="user"><a href="#"><i class="fa fa-user fa-2x"></i></a></li>
                <li class="messenger"><a href="#"><i class="fa fa-weixin fa-2x"></i></a></li>
            </ul>
        </nav>
    </div>
</header>
<!--// header -->


{{#block "content"}}

{{/block}}

<footer id="footer">
    <div class="container">
        <div class="col-md-12 text-center">
            <ul class="list-inline">
                <li>사이트 소개</li>
                <li>Wiki 다운로드</li>
                <li>Contact Us</li>
                <li>Home</li>
            </ul>
        </div>
        <div class="col-md-12 text-center">
            <p class="">
                Copyright © 2015 LibQA™
            </p>
        </div>
    </div>
</footer>

{{#block "script-body"}}{{/block}}
</body>
</html>
