<!--
    * libqa template 정의
    * libqa 의 모든 파일은 /template/base 파일을 정의한다.
-->
<!doctype html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>{{#block "title"}}{{/block}}</title>

    {{!-- favicon
    <link rel="shortcut icon" href="경로/favicon.ico" type="image/x-icon">
     --}}
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    {{!--공통 스타일 영역--}}
    <link rel="stylesheet" href="/경로/bootstrap.min.css">

    <!-- page specific plugin styles -->
    {{#block "plugin-style"}}{{/block}}

    <!-- inline styles related to this page -->
    {{#block "style"}}{{/block}}

    {{!--공통 스크립트 영역--}}
    <script type="text/javascript" src="/경로/jquery-1.11.0.min.js"></script>

    {{#block "script-header"}}{{/block}}
</head>
<body>
<!-- header -->
<header class="navbar navbar-default" id="header">
    <div class="container">
        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../">LibQA</a>
        </div>

        <nav role="navigation" class="navbar-collapse bs-navbar-collapse collapse">
            <ul class="nav navbar-nav navi-menu">
                <li class="active">
                    <a href="">Feeds</a>
                </li>
                <li>
                    <a href="">Q&amp;A</a>
                </li>
                <li>
                    <a href="">Space</a>
                </li>
                <li>
                    <a href="">Wiki</a>
                </li>
                <li>
                    <a href="#">My Info</a>
                </li>
                <li>
                    <a href="#">Admin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navi-info">
                <li class="user"><a href="#"><i class="fa fa-user fa-2x"></i></a></li>
                <li class="messenger"><a href="#"><i class="fa fa-weixin fa-2x"></i></a></li>
            </ul>
        </nav>
    </div>
</header>
<!--// header -->


{{#block "content"}}

{{/block}}

<footer id="footer">
    <div class="container">
        <div class="col-md-12 text-center">
            <ul class="list-inline">
                <li>사이트 소개</li>
                <li>Wiki 다운로드</li>
                <li>Contact Us</li>
                <li>Home</li>
            </ul>
        </div>
        <div class="col-md-12 text-center">
            <p class="">
                Copyright © 2015 LibQA™
            </p>
        </div>
    </div>
</footer>

{{#block "script-body"}}{{/block}}
</body>
</html>