{{# partial "header" }}
<header class="navbar navbar-default" id="header">
    <div class="container">

        <div class="navbar-header">
            <button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">LibQA</a>
        </div>

        <nav role="navigation" class="navbar-collapse bs-navbar-collapse collapse">
            <ul class="nav navbar-nav navi-menu">
                <li class="active">
                    <a href="/feed">Feeds</a>
                </li>
                <li>
                    <a href="/qa/main">Q&amp;A</a>
                </li>
                <li>
                    <a href="/space/main">Space</a>
                </li>
                <li>
                    <a href="/wiki/main">Wiki</a>
                </li>
                <li>
                    <a href="/userInfo">My Info</a>
                </li>
                <li>
                    <a href="/admin">Admin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right navi-info">
                <li class="dropdown">
                    <a aria-expanded="true" href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user fa-2x"></i></a>
                    <ul class="dropdown-menu">
                        {{#compareTo isLogin '1'}}
                            {{> template/login}}
                        {{/compareTo}}
                        {{#compareTo isLogin '0'}}
                            {{> template/guest}}
                        {{/compareTo}}
                    </ul>
                </li>
                <li class="messenger"><a href="#"><i class="fa fa-weixin fa-2x"></i></a></li>
            </ul>
        </nav>
    </div>
</header>


<div class="modal fade" style="padding-top:100px" id="loginLayer" tabindex="-1" role="dialog" aria-labelledby="Sign in" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #428bca">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="bootstrap-dialog-title" id="modal-title" style="font-size: 16px;color: #ffffff">Log in</div>
            </div>

            <div class="modal-body" style="height: 260px">

                <form id="loginForm" name="loginForm" method="post" class="form-horizontal">
                    <div class="row" style="height: 40px">
                        <div class="col-xs-4 text-left">
                            <span style="color: #428bca;"><a href="#">Forgot password?</a></span>
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                        <input type="text" class="form-control" name="userEmail" id="userEmail" placeholder="email address">
                    </div>
                    <span class="help-block"></span>

                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                        <input type="password" class="form-control" name="userPass" id="userPass" placeholder="Password">
                    </div>

                    <span class="help-block" style="color: red; display: none" id="loginInfo">로그인 정보가 올바르지 않습니다. 아이디/비밀번호를 확인하세요.</span>

                    <div style="padding-top:10px;border-top: 1px solid #e5e5e5">
                        <div class="col-xs-4">
                            <label class="checkbox">
                                <input type="checkbox" id="remember-me" value="remember-me">Remember Me
                            </label>
                        </div>
                        <div class="col-xs-4" >
                            <button type="button" class="btn btn-primary" id="loginBtn">Log in</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

{{/partial}}

{{# partial "footer" }}
<footer id="footer">
    <div class="container">
        <div class="col-md-12 text-center">
            <ul class="list-inline">
                <li>사이트 소개</li>
                <li>Wiki 다운로드</li>
                <li>Contact Us</li>
                <li>Home</li>
            </ul>
        </div>
        <div class="col-md-12 text-center">
            <p class="">
                Copyright © 2015 LibQA™
            </p>
        </div>
    </div>
</footer>
{{/partial}}

{{# partial "script-body" }}
<script type="text/javascript">
    // bind the on-change event
    $(document).ready(function () {
        $("#loginBtn").click(function() {
            userEmail = $("#userEmail").val();
            userPass = $("#userPass").val();
            if (!checkValidEmail(userEmail)) {
                alertEmail();
                return false;
            }

            if (!checkLength(userPass, 4)) {
                alertPass();
                return false;
            }

            var data = $("#loginForm").serialize();
            $.post('/loginPage', data).done(function(response){
                var result = jQuery.parseJSON(response);

                if (result.status == true) {
                    $(location).attr('href', "{{returnUrl}}");
                }
            }).fail(function(response){
                console.log("# ERROR login : " + response.status);

                $("#loginInfo").show(0).delay(5000).hide(0);
            });
        });
    });


    /**
     * 이메일 입력 확인
     */
    function alertEmail(){
        $.alert({
            title: '확인',
            content: '이메일 주소를 확인하세요.',
            confirmButton: 'OK',
            confirmButtonClass: 'btn-primary',
            icon: 'fa fa-info',
            animation: 'zoom',
            confirm: function () {
            }
        });
    }
    /**
     * 패스워드 확인
     */
    function alertPass(){
        $.alert({
            title: '확인',
            content: '비밀번호는 최소 4자 이상으로 필수값입니다.',
            confirmButton: 'OK',
            confirmButtonClass: 'btn-primary',
            icon: 'fa fa-info',
            animation: 'zoom',
            confirm: function () {
            }
        });
    }

    function checkValidEmail(email) {
        if (email.length < 4) {
            return false;
        }
        var regExp = /([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!regExp.test(email)) {
            return false;
        } else {
            // Ajax로 중복 검사
            return true;
        }
    }

    function checkLength(value, length) {
        if (value.length < length) {
            return false;
        } else {
            return true;
        }
    }
</script>
{{/partial}}

{{> template/layout}}
