
<li>
    <a href="/user/signUp"><i class="fa fa-fw fa-user-plus"></i> Sign Up</a>
</li>
<li class="divider"></li>

<li>
    <a href="#" data-toggle="modal" data-target="#loginLayer"><i class="fa fa-fw fa-gear"></i> Log in</a>
</li>