
{{#each resecntWiki}}
    <!-- 최근 활동 -->
    <div class="best-qna-item">
        <div>
            {{#each keywordList}}
                <span class="label label-primary">{{keywordName}}</span>
            {{/each}}
            <strong> {{title}}</strong>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <div class="user-profile">
                    <img src="/resource/images/avatar.png" class="profile-image" alt="avatar">
                </div>
            </a>
            <div class="media-body">
                <div>
                    <a class="form" href="/wiki/{{wikiId}}">
                    {{subString (htmlDelete contents) 0 100 }}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- 최근 활동 -->
{{/each}}