
{{#each recentList}}
    <!-- 최근 활동 -->
    <div class="best-qna-item">
        <div>
            <span class="label label-primary">Spring</span>
            <span class="label label-success">JAVA</span>
            <strong> {{title}}</strong>
        </div>
        <div class="media">
            <a class="pull-left" href="#">
                <div class="user-profile">
                    <img src="../images/avatar.png" class="profile-image" alt="avatar">
                </div>
            </a>
            <div class="media-body">
                {{contets}}
            </div>
        </div>
    </div>
    <!-- 최근 활동 -->
{{/each}}