{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
    <div class="container">
        <h1>Not Authorized</h1>
        <p>Sorry, but you are not authorized to view this page. :(</p>
    </div>
{{/partial}}

{{> template/base}}
