{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
    <div class="container">
        <h1>Server Error</h1>
        <p>Sorry, but there was an error with the server that prevented this page from being displayed. :( </p>
    </div>
{{/partial}}

{{> template/base}}
