<div id="right-panel-indicator">
        <a id="right-panel-indicator-link" href="#indicator-panel"><i class="fa fa-bars fa-3x"></i></a>
    </div>
<div id="indicator-panel" class="indicator-panel">
        <div class="panel panel-primary">
            <div class="panel-heading">내 알람</div>
            <div class="panel-body-group">
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">최근 조회 컨텐츠</div>
            <div class="panel-body-group">
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">내 즐겨찾기</div>
            <div class="panel-body-group">
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
                <div class="panel-body">ㅅㄷㄴㅅ2</div>
            </div>
        </div>
    </div>
<script src="http://eduardomb.github.io/jquery-panelslider/jquery.panelslider.min.js"></script>
<script type="text/javascript">
    $(function() {
            var indicatorDiv = $('#right-panel-indicator');
            var indicatorDivHomeY = indicatorDiv.offset().top;
            var isFixed = false;
            var $w = $(window);
            $w.scroll(function() {
                    var scrollTop = $w.scrollTop();
                    var shouldBeFixed = scrollTop > indicatorDivHomeY;
                    if (shouldBeFixed && !isFixed) {
                            indicatorDiv.css({
                                        position: 'fixed',
                                        top: 0,
                                        left: indicatorDiv.offset().left,
                                        width: indicatorDiv.width()
                            });
                            isFixed = true;
                        }
                    else if (!shouldBeFixed && isFixed) {
                            indicatorDiv.css({
                                        position: 'absolute',
                                        right: '2%',
                                        top: '10%'
                            });
                            isFixed = false;
                        }
                });
        });
    $('#right-panel-indicator-link').panelslider({side: 'right', clickClose: true, duration: 200 });
</script>