{{# partial "content" }}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>LibQA</h1>
            <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        </div>

        <br />
        <!--center-->
        <div class="col-sm-9">
            <div class="col-sm-12">
                <div class="index-thread-box first">
                <h2><i class="glyphicon glyphicon-question-sign"></i> Q&amp;A</h2>
                <div class="index-thread-item">
                    <div class="title">질문이 있습니다...............</div>
                    <div class="pull-right">
                        <span class="label label-primary">Spring</span>
                        <span class="label label-success">JAVA</span>
                        <span class="label label-success">JAVA</span>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <div class="user-profile">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                            </div>
                        </a>
                        <div class="media-body">
                            여러분 저에게 이러 이러한 질문이 있어요 이런저런 내용이 있구요 그래서 이러저러 해서 그렇게 되는 건데 이리하여 저런 경우는
                            어떻게 하면 좋을까요? 구릴까요? <span class="comments"><i class="glyphicon glyphicon-comment"></i> 999</span>
                        </div>
                        <div class="pull-left"><span class="nickname">user</span></div>
                        <div class="pull-right">2015-04-05 12:12</div>
                    </div>
                </div>
                <div class="index-thread-item">
                    <div class="title">질문이 있습니다...............</div>
                    <div class="pull-right">
                        <span class="label label-primary">Spring</span>
                        <span class="label label-success">JAVA</span>
                        <span class="label label-success">JAVA</span>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <div class="user-profile">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                            </div>
                        </a>
                        <div class="media-body">
                            여러분 저에게 이러 이러한 질문이 있어요 이런저런 내용이 있구요 그래서 이러저러 해서 그렇게 되는 건데 이리하여 저런 경우는
                            어떻게 하면 좋을까요? 구릴까요? <span class="comments"><i class="glyphicon glyphicon-comment"></i> 999</span>
                        </div>
                        <div class="pull-left"><span class="nickname">user</span></div>
                        <div class="pull-right">2015-04-05 12:12</div>
                    </div>
                </div>
                <div class="index-thread-item">
                    <div class="title">질문이 있습니다...............</div>
                    <div class="pull-right">
                        <span class="label label-primary">Spring</span>
                        <span class="label label-success">JAVA</span>
                        <span class="label label-success">JAVA</span>
                    </div>
                    <div class="media">
                        <a class="pull-left" href="#">
                            <div class="user-profile">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                            </div>
                        </a>
                        <div class="media-body">
                            여러분 저에게 이러 이러한 질문이 있어요 이런저런 내용이 있구요 그래서 이러저러 해서 그렇게 되는 건데 이리하여 저런 경우는
                            어떻게 하면 좋을까요? 구릴까요? <span class="comments"><i class="glyphicon glyphicon-comment"></i> 999</span>
                        </div>
                        <div class="pull-left"><span class="nickname">user</span></div>
                        <div class="pull-right">2015-04-05 12:12</div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-sm-6">
                <h2><i class="fa fa-database"></i> Space</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">새로 생성된 공간</div>
                    <div class="panel-body">
                        공간 설명.......
                        공간 설명.......
                        공간 설명.......
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">새로 생성된 공간</div>
                    <div class="panel-body">
                        공간 설명.......
                        공간 설명.......
                        공간 설명.......
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">공간23412312321</div>
                    <div class="panel-body">
                        공간 설명.......
                        공간 설명.......
                        공간 설명.......
                    </div>
                </div>
           </div>
            <div class="col-sm-6">
                <h2><i class="glyphicon glyphicon-book"></i> Wiki</h2>
                <div class="panel panel-default">
                    <div class="panel-heading">스프링 시큐리티 가이드 .1</div>
                    <div class="panel-body">
                        어쩌고 저쩌고...
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">개인적인 정리</div>
                    <div class="panel-body">
                        영어영어영어.........
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">테스트 위키</div>
                    <div class="panel-body">
                        솰라솰라솰라......솰라솰라솰라......솰라솰라솰라......
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="index-thread-box first">
                <h2><i class="fa fa-weixin"></i> Feed</h2>
                {{#each displayIndex.feeds}}
                <div class="index-thread-item">
                    <div class="media">
                        <a class="pull-left" href="#">
                            <div class="user-profile">
                                <img alt="avatar" class="profile-image" src="{{userImage}}" />
                            </div>
                        </a>
                        <div class="media-body">
                            <a href="">{{{subString (htmlDelete content) 0 30}}}</a>
                            <span class="comments"><i class="glyphicon glyphicon-comment"></i> {{countOfReply}}</span>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
{{/partial}}

{{> template/base}}
