{{# partial "content" }}
    <div class="container-fluid">

        <!--center-->
        <div class="col-sm-6">
            <div class="row">
                <div class="col-xs-12">
                    <h2>FEED???</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.</p>
                    <p class="lead"><button class="btn btn-default">Read More</button></p>
                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                    <ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li></ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Article Heading</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.</p>
                    <p class="lead"><button class="btn btn-default">Read More</button></p>
                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                    <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <h2>Article Heading</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                        Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                        dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                        Aliquam in felis sit amet augue.</p>
                    <p class="lead"><button class="btn btn-default">Read More</button></p>
                    <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
                    <ul class="list-inline"><li><a href="#">1 Week Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
                </div>
            </div>
            <hr>
        </div><!--/center-->

        <!--left-->
        <div class="col-sm-3">
            <h2>QA</h2>
            <div class="panel panel-default">
                <div class="panel-heading">Title</div>
                <div class="panel-body">Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">Title</div>
                <div class="panel-body">Content here..</div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">Title</div>
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
                    Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
                    dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
                    Aliquam in felis sit amet augue.</div>
            </div>
            <hr>
            <div class="panel panel-default">
                <div class="panel-heading">Title</div>
                <div class="panel-body">Content here..</div>
            </div>
            <hr>
        </div><!--/left-->


        <!--right-->
        <div class="col-sm-3">
            <h2>Tree</h2>
            <div id="tree"></div>
        </div><!--/right-->
        <hr>
    </div>
{{/partial}}

{{# partial "script-page" }}
    <link href="/resource/public/js/jquery/plugin/bootstrap-treeview-1.2.0/bootstrap-treeview.min.css" rel="stylesheet" />
    <script type="text/javascript" src="/resource/public/js/jquery/plugin/bootstrap-treeview-1.2.0/bootstrap-treeview.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#tree').treeview({data: getTree()});
        });

        function getTree() {
            // Some logic to retrieve, or generate tree structure
            var tree = [
                {
                    text: "Parent 1",
                    tags: ['1'],
                    nodes: [
                        {
                            text: "Child 1",
                            nodes: [
                                {
                                    text: "Grandchild 1"
                                },
                                {
                                    text: "Grandchild 2"
                                }
                            ]
                        },
                        {
                            text: "Child 2"
                        }
                    ]
                },
                {
                    text: "Parent 2"
                },
                {
                    text: "Parent 3"
                }
            ];
            return tree;
        }

    </script>
{{/partial}}

{{> template/base}}
