{{# partial "content" }}
    <div class="container">
        <h1>Bootstrap Tree View</h1>
        <br>
        <div class="row">
        </div>
    </div>
{{/partial}}

{{# partial "script-page" }}
    <link href="/resource/public/css/bootstrap-treeview.css" rel="stylesheet" />
    <script type="text/javascript" src="/resource/public/js/bootstrap-treeview.js"></script>
    <script type="text/javascript">
        $(function() {


            var source = builddata();

            console.log("### source =" + JSON.parse(source));
        });

        var builddata = function () {
            var source = [];
            var items = [];
            var data = [
                {
                    "text": "Chocolate Beverage",
                    "id": "1",
                    "parentid": "-1"
                }, {
                    "id": "2",
                    "parentid": "1",
                    "text": "Hot Chocolate"
                }, {
                    "id": "3",
                    "parentid": "1",
                    "text": "Peppermint Hot Chocolate"
                }, {
                    "id": "4",
                    "parentid": "1",
                    "text": "Salted Caramel Hot Chocolate"
                }, {
                    "id": "5",
                    "parentid": "1",
                    "text": "White Hot Chocolate"
                }, {
                    "id": "6",
                    "text": "Espresso Beverage",
                    "parentid": "-1"
                }, {
                    "id": "7",
                    "parentid": "6",
                    "text": "Caffe Americano"
                }, {
                    "id": "8",
                    "text": "Caffe Latte",
                    "parentid": "6"
                }, {
                    "id": "9",
                    "text": "Caffe Mocha",
                    "parentid": "6"
                }, {
                    "id": "10",
                    "text": "Cappuccino",
                    "parentid": "6"
                }, {
                    "id": "11",
                    "text": "Pumpkin Spice Latte",
                    "parentid": "6"
                }, {
                    "id": "12",
                    "text": "Frappuccino",
                    "parentid": "-1"
                }, {
                    "id": "13",
                    "text": "Caffe Vanilla Frappuccino",
                    "parentid": "12"
                }, {
                    "id": "15",
                    "text": "450 calories",
                    "parentid": "13"
                }, {
                    "id": "16",
                    "text": "16g fat",
                    "parentid": "13"
                }, {
                    "id": "17",
                    "text": "13g protein",
                    "parentid": "13"
                }, {
                    "id": "14",
                    "text": "Caffe Vanilla Frappuccino Light",
                    "parentid": "12"
                }]

            // build hierarchical source.
            for (i = 0; i < data.length; i++) {
                var item = data[i];
                var label = item["text"];
                var parentid = item["parentid"];
                var id = item["id"];

                if (items[parentid]) {
                    var item = { parentid: parentid, label: label, item: item };
                    if (!items[parentid].items) {
                        items[parentid].items = [];
                    }
                    items[parentid].items[items[parentid].items.length] = item;
                    items[id] = item;
                }
                else {
                    items[id] = { parentid: parentid, label: label, item: item };
                    source[id] = items[id];
                }
            }
            return source;
        }

    </script>
{{/partial}}

{{> template/base}}
