<!--
  Created by IntelliJ IDEA.
  User: yong
  Date: 2014. 9. 22.
  Time: 오후 10:57
-->

{{#partial "style"}}
{{!-- 여기에 사용자 css 정의 --}}
    <link href="/resource/app/js/DualEditor/css/DualEditor.css" rel="stylesheet">
{{/partial}}

{{#partial "plugin-style"}}
{{!-- 여기에 .css 파일 경로 --}}
    <link href="/resource/public/css/bootstrap-tag-cloud/bootstrap-tag-cloud.css" rel="stylesheet">
{{/partial}}
{{#partial "script-header"}}
    <script src="/resource/app/js/DualEditor/DualEditor-core.js"></script>
    <script type='text/javascript' src="/resource/public/js/bootstrap-tag-cloud/bootstrap-tag-cloud.js"></script>
{{/partial}}

{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
    <div class="container">
        <section id="forms">

            <fieldset>
                <div class="page-header">
                    <h2>질문하기</h2>
                </div>
                <div class="row" style="width:100%">
                    <div style="padding-left:30px">
                        <form id="qaForm" name="qaForm" class="form-horizontal well" enctype="multipart/form-data">
                            <legend>제목</legend>
                            <input type="text" class="form-control" id="title" name="title" placeholder="">

                            <div style="padding: 8px 12px;">
                                <!-- 에디터 -->
                                <div id="editor" class="form-group">
                                    <input type="hidden" id="contents" name="contents" />
                                    <input type="hidden" id="contentsMarkup" name="contentsMarkup" value=""/>
                                </div>
                                <!--// 에디터 -->
                                <div class="form-group">
                                    <div class="col-md-pull-4">
                                        <div class="form-inline" id="tag-info">
                                            <input type="text" class="form-control" size="29" id="interesting" placeholder="Keyword">
                                            <button type="button" class="btn btn-primary" id="keywordAdd">Add <i class="glyphicon glyphicon-plus"></i></button>
                                        </div>
                                    </div>
                                    <input type="hidden" name="keywords" id="keywords" />

                                    <div class="col-md-8">
                                        <ul id="tag-cloud" style="padding-left: 0px; width:100%;"></ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div id="uploadFilesArea">
                                        <span class="glyphicon glyphicon-paperclip btn-m"></span>
                                        <span>Attachments</span>
                                        <div id="uploadfileList" class="alert alert-success attachment-thumbnail">
                                        </div>
                                    </div>
                                    <input name="uploadType" value="Qa" type="hidden">
                                    <input name="uploadFilePath" id="uploadFilePath" type="hidden">
                                    <input id="viewType" name="viewType" value="Image" type="hidden" />
                                    <input id="file-attachment" name="uploadfile" type="file" style="display:none">
                                    <p class="help-block"></p>
                                    <button class="btn btn-info btn-default" type="button" onclick="$('#file-attachment').click();">파일선택</button>

                                </div>
                                <input type="hidden" name="qaId">
                                <input type="hidden" name="wikiId">
                            </div>
                        </form>
                    </div>
                </div>
            </fieldset>
            <div class="col-md12 text-center">
                <button id="cancelButton" type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                <button id="saveButton" class="btn btn-primary">저장</button>
            </div>
        </section>
    </div>

{{/partial}}

{{#partial "script-page"}}
    <script type="text/javascript">
        $(document).ready(function(){

            DualEditor.setting({
                 src : '/resource/app'
                ,tarketId : 'editor'
                ,width : '100%'
            });

            // Qa.bindEvent();
        });

        var keywordData = [];

        /**
         * 키워드 추가
         * 키워드가 3건 이상 등록 될 경우 폼을 disabled 한다.
         * 대소문자 중복 허용하지 않는다.
         */
        $('#keywordAdd').click(function () {
            var keyword = $('#interesting').val();

            if (keywordData.length == 3) {
                $.alert({
                    title: '확인',
                    content: '키워드는 최대 3건만 등록할 수 있습니다.',
                    confirmButton: 'OK',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm: function () {

                    }
                });
            }

            keywordData.push(keyword);

            var taskArray = [];
            $("input[name=keywords]").each(function () {
                taskArray.push(keyword);
            });

            if (keywordData.length > 2) {
                $("#interesting").attr("readonly", true);
                $("#keywordAdd").attr("disabled", true);
            }
        });


        /**
         * 키워드 삭제
         * 키워드가 삭제되면 폼을 enabled 한다.
         */
        $('#tag-cloud').on('click', 'li', function (event) {
            var keyword = $(event.target).text();
            var index = keywordData.indexOf(keyword);

            if (index > -1) {
                keywordData.splice(index, 1);
                $('input[name=keywords]').val(keywordData);
                $("#interesting").attr("readonly", false);
                $("#keywordAdd").attr("disabled", false);
            }
        });

        $('#saveButton').on('click', function () {
            $.confirm({
                title: '확인',
                content: '공간을 생성 하겠습니까?<BR>11',
                confirmButton: '공간생성',
                cancelButton: '취소',
                confirmButtonClass: 'btn-info',
                confirm: function () {
                    create();
                },
                cancel: function(){

                }
            });
        });


        function create(){
            $('#contents').val("123");
            $('#contentsMarkup').val("1234");
            $("#keywords").val(keywordData);

            var data = $('#qaForm').serialize();

            console.log("#QaForm : " + data);
            $.ajax({
                type: "post",
                dataType: "json",
                data: data,
                url: "/qa/save",
                cache: false,
                success: function (req) {
                    console.log("req = " + req);
                    console.log("req.resultCode = " + req.resultCode);
                    console.log("req.data = " + req.data);

                    if (req.resultCode == 1) {
                        $.confirm({
                            title: '완료',
                            content: '저장 완료 ',
                            confirmButton: '이동',
                            cancelButton: '취소',
                            confirmButtonClass: 'btn-info',
                            icon: 'fa fa-question-circle',
                            animation: 'top',
                            confirm: function () {
                                location.href = "/qa/" + response.data.qaId;
                            }
                        });

                    }
                },
                error: function (req) {
                    // Handle upload error
                    if (req.status == 500) {
                        error500(true, '');
                    } else {
                        error500(false, req.status);
                    }
                }
            });


//                $.post('/qa/save', data)
//                        .done(function(response){
//                            if(response.resultCode == 1) {
//                                location.href = "/qa/" + response.data.qaId;
//                            }
//                        }).fail(function(){
//                            alert('Error saving qa');
//                        });
//            $.ajax({
//                url : '/qa/save',
//                type : "POST",
//                dataType: "json",
//                cache: false,
//                data : data,
//                success : function(data){
//                    if(data.resultCode == 1) {
//                        location.href = "/qa/" + data.data.qaId;
//                    }
//                },
//                error : function(XMLHttpRequest,textStatus,errorThrown){
//                    alert(errorThrown);
//                }
//            });
        }

        function error500(condition, status) {
            if (condition) {
                $.alert({
                    title: '확인',
                    content: '공간 정보 저장중 에러가 발생했습니다.',
                    confirmButton: 'OK',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm: function () {
                    }
                });
            } else {
                $.alert({
                    title: '확인',
                    content: '공간 정보 저장중 에러가 발생했습니다. 에러코드 [' + status + ']',
                    confirmButton: 'OK',
                    confirmButtonClass: 'btn-primary',
                    icon: 'fa fa-info',
                    animation: 'zoom',
                    confirm: function () {
                    }
                });
            }
        }

    </script>
{{/partial}}

{{> template/base}}
