
<%@ page import="com.libqa.qa.QaContent" %>
<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main">
		<g:set var="entityName" value="${message(code: 'qaContent.label', default: 'QaContent')}" />
		<title><g:message code="default.show.label" args="[entityName]" /></title>
	</head>
	<body>
		<a href="#show-qaContent" class="skip" tabindex="-1"><g:message code="default.link.skip.label" default="Skip to content&hellip;"/></a>
		<div class="nav" role="navigation">
			<ul>
				<li><a class="home" href="${createLink(uri: '/')}"><g:message code="default.home.label"/></a></li>
				<li><g:link class="list" action="index"><g:message code="default.list.label" args="[entityName]" /></g:link></li>
				<li><g:link class="create" action="create"><g:message code="default.new.label" args="[entityName]" /></g:link></li>
			</ul>
		</div>
		<div id="show-qaContent" class="content scaffold-show" role="main">
			<h1><g:message code="default.show.label" args="[entityName]" /></h1>
			<g:if test="${flash.message}">
			<div class="message" role="status">${flash.message}</div>
			</g:if>
			<ol class="property-list qaContent">
			
				<g:if test="${qaContentInstance?.wikiId}">
				<li class="fieldcontain">
					<span id="wikiId-label" class="property-label"><g:message code="qaContent.wikiId.label" default="Wiki Id" /></span>
					
						<span class="property-value" aria-labelledby="wikiId-label"><g:fieldValue bean="${qaContentInstance}" field="wikiId"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.contents}">
				<li class="fieldcontain">
					<span id="contents-label" class="property-label"><g:message code="qaContent.contents.label" default="Contents" /></span>
					
						<span class="property-value" aria-labelledby="contents-label"><g:fieldValue bean="${qaContentInstance}" field="contents"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.userId}">
				<li class="fieldcontain">
					<span id="userId-label" class="property-label"><g:message code="qaContent.userId.label" default="User Id" /></span>
					
						<span class="property-value" aria-labelledby="userId-label"><g:fieldValue bean="${qaContentInstance}" field="userId"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.userNick}">
				<li class="fieldcontain">
					<span id="userNick-label" class="property-label"><g:message code="qaContent.userNick.label" default="User Nick" /></span>
					
						<span class="property-value" aria-labelledby="userNick-label"><g:fieldValue bean="${qaContentInstance}" field="userNick"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.viewCount}">
				<li class="fieldcontain">
					<span id="viewCount-label" class="property-label"><g:message code="qaContent.viewCount.label" default="View Count" /></span>
					
						<span class="property-value" aria-labelledby="viewCount-label"><g:fieldValue bean="${qaContentInstance}" field="viewCount"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.recommandCount}">
				<li class="fieldcontain">
					<span id="recommandCount-label" class="property-label"><g:message code="qaContent.recommandCount.label" default="Recommand Count" /></span>
					
						<span class="property-value" aria-labelledby="recommandCount-label"><g:fieldValue bean="${qaContentInstance}" field="recommandCount"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.likeCount}">
				<li class="fieldcontain">
					<span id="likeCount-label" class="property-label"><g:message code="qaContent.likeCount.label" default="Like Count" /></span>
					
						<span class="property-value" aria-labelledby="likeCount-label"><g:fieldValue bean="${qaContentInstance}" field="likeCount"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.isDeleted}">
				<li class="fieldcontain">
					<span id="isDeleted-label" class="property-label"><g:message code="qaContent.isDeleted.label" default="Is Deleted" /></span>
					
						<span class="property-value" aria-labelledby="isDeleted-label"><g:fieldValue bean="${qaContentInstance}" field="isDeleted"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.isShared}">
				<li class="fieldcontain">
					<span id="isShared-label" class="property-label"><g:message code="qaContent.isShared.label" default="Is Shared" /></span>
					
						<span class="property-value" aria-labelledby="isShared-label"><g:fieldValue bean="${qaContentInstance}" field="isShared"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.sharedResponseId}">
				<li class="fieldcontain">
					<span id="sharedResponseId-label" class="property-label"><g:message code="qaContent.sharedResponseId.label" default="Shared Response Id" /></span>
					
						<span class="property-value" aria-labelledby="sharedResponseId-label"><g:fieldValue bean="${qaContentInstance}" field="sharedResponseId"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.isReplyed}">
				<li class="fieldcontain">
					<span id="isReplyed-label" class="property-label"><g:message code="qaContent.isReplyed.label" default="Is Replyed" /></span>
					
						<span class="property-value" aria-labelledby="isReplyed-label"><g:fieldValue bean="${qaContentInstance}" field="isReplyed"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.insertDate}">
				<li class="fieldcontain">
					<span id="insertDate-label" class="property-label"><g:message code="qaContent.insertDate.label" default="Insert Date" /></span>
					
						<span class="property-value" aria-labelledby="insertDate-label"><g:formatDate date="${qaContentInstance?.insertDate}" /></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.updateDate}">
				<li class="fieldcontain">
					<span id="updateDate-label" class="property-label"><g:message code="qaContent.updateDate.label" default="Update Date" /></span>
					
						<span class="property-value" aria-labelledby="updateDate-label"><g:formatDate date="${qaContentInstance?.updateDate}" /></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.insertUserId}">
				<li class="fieldcontain">
					<span id="insertUserId-label" class="property-label"><g:message code="qaContent.insertUserId.label" default="Insert User Id" /></span>
					
						<span class="property-value" aria-labelledby="insertUserId-label"><g:fieldValue bean="${qaContentInstance}" field="insertUserId"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.updateUserId}">
				<li class="fieldcontain">
					<span id="updateUserId-label" class="property-label"><g:message code="qaContent.updateUserId.label" default="Update User Id" /></span>
					
						<span class="property-value" aria-labelledby="updateUserId-label"><g:fieldValue bean="${qaContentInstance}" field="updateUserId"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.qaId}">
				<li class="fieldcontain">
					<span id="qaId-label" class="property-label"><g:message code="qaContent.qaId.label" default="Qa Id" /></span>
					
						<span class="property-value" aria-labelledby="qaId-label"><g:fieldValue bean="${qaContentInstance}" field="qaId"/></span>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.qaRecomands}">
				<li class="fieldcontain">
					<span id="qaRecomands-label" class="property-label"><g:message code="qaContent.qaRecomands.label" default="Qa Recomands" /></span>
					
						<g:each in="${qaContentInstance.qaRecomands}" var="q">
						<span class="property-value" aria-labelledby="qaRecomands-label"><g:link controller="qaRecommand" action="show" id="${q.id}">${q?.encodeAsHTML()}</g:link></span>
						</g:each>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.qaReplys}">
				<li class="fieldcontain">
					<span id="qaReplys-label" class="property-label"><g:message code="qaContent.qaReplys.label" default="Qa Replys" /></span>
					
						<g:each in="${qaContentInstance.qaReplys}" var="q">
						<span class="property-value" aria-labelledby="qaReplys-label"><g:link controller="qaReply" action="show" id="${q.id}">${q?.encodeAsHTML()}</g:link></span>
						</g:each>
					
				</li>
				</g:if>
			
				<g:if test="${qaContentInstance?.title}">
				<li class="fieldcontain">
					<span id="title-label" class="property-label"><g:message code="qaContent.title.label" default="Title" /></span>
					
						<span class="property-value" aria-labelledby="title-label"><g:fieldValue bean="${qaContentInstance}" field="title"/></span>
					
				</li>
				</g:if>
			
			</ol>
			<g:form url="[resource:qaContentInstance, action:'delete']" method="DELETE">
				<fieldset class="buttons">
					<g:link class="edit" action="edit" resource="${qaContentInstance}"><g:message code="default.button.edit.label" default="Edit" /></g:link>
					<g:actionSubmit class="delete" action="delete" value="${message(code: 'default.button.delete.label', default: 'Delete')}" onclick="return confirm('${message(code: 'default.button.delete.confirm.message', default: 'Are you sure?')}');" />
				</fieldset>
			</g:form>
		</div>
	</body>
</html>
