<%--
  Created by IntelliJ IDEA.
  User: yong
  Date: 2014. 9. 22.
  Time: 오후 10:57
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title></title></head>
<body>
    <!-- 메뉴 -->
    <div class="container contents-container">
        <!-- contents -->
        <div class="col-md-12">
            <!-- 관련키워드 -->
            <div class="row top-buffer">
                <span class="col-md-12 pull-left section-category qna-alert-info">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">관련 키워드</a></li>
                        <li class="pull-left readCnt">
                            <span class="label label-primary">Spring</span>
                            <span class="label label-success">JAVA</span>
                        </li>
                        <li class="pull-right">
                            <div class="user-profile-sm">
                                <span class="nickname">sjune</span>
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </li>
                    </ul>
                </span>
            </div>
            <!--// 관련키워드 -->
            <div class="media form-group top-buffer">
                <!-- 본문 제목, 내용 -->
                <div class="alert alert-info">
                    <div class="row">
                        <div class="col-md-8">
                            <span class="qna-alert-title">${qaContent.title}</span>
                            <span class="badge">1927</span>
                        </div>
                        <div class="col-md-4 text-right">
                            <span class="qna-alert-title">${qaContent.insertDate}</span>
                            <span class="readCnt qna-alert-title">조회수 : ${qaContent.viewCount}</span>
                        </div>
                    </div>
                </div>
                <div>
                    <p>
                        ${qaContent.contents}
                    </p>
                </div>
                <!--// 본문 제목, 내용 -->
                <div>
                    <div class="text-left">
                        <i class="fa fa-thumbs-o-up"><span class="like-count">(30)</span></i>
                        <i class="fa fa-share-alt"><span class="claim-count">(0)</span></i>
                    </div>
                    <div class="text-right">
                        <button type="button" class="btn btn-primary btn-sm">수정</button>
                        <button type="button" class="btn btn-danger btn-sm">삭제</button>
                        <button type="button" class="btn btn-primary btn-sm">목록</button>
                    </div>
                </div>
            </div>

            <!-- 댓글작성 Bootstrap Live Editor -->
            <div id="editor" class="form-group"></div>
            <!--// 댓글작성 Bootstrap Live Editor -->

            <div class="text-center">
                <button type="button" class="btn btn-primary btn-default">저장</button>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            SONJS.setting('${request.contextPath}',$("#editor"),'mini','100%');
        });
    </script>

<link href="${resource(dir: 'css/sonjs', file: 'sonjs.css')}" rel="stylesheet">
<g:javascript src="sonjs/fn-son-markup.js"/>
</body>
</html>
