{{!--
Created by IntelliJ IDEA.
User: yion
Date: 2014. 12. 7.
Time: 16:20
To change this template use File | Settings | File Templates.
--}}
{{#partial "style"}}
    {{!-- 여기에 사용자 css 정의 --}}
{{/partial}}

{{#partial "plugin-style"}}
    {{!-- 여기에 .css 파일 경로 --}}
{{/partial}}

{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}

<form id="upload-file-form">
    <label for="upload-file-input">Upload your file:</label>
    <input id="upload-file-input" type="file" name="uploadfile" accept="*" />
</form>

{{/partial}}


{{#partial "script-body"}}
<script>
// bind the on-change event
$(document).ready(function() {
    $("#upload-file-input").on("change", uploadFile);
});

/**
 * Upload the file sending it via Ajax at the Spring Boot server.
 */
function uploadFile() {
    $.ajax({
        url: "/uploadFile",
        type: "POST",
        data: new FormData($("#upload-file-form")[0]),
        enctype: 'multipart/form-data',
        processData: false,
        contentType: false,
        cache: false,
        success: function (req) {
            if(!req.success) {
                alert(req.message);
                return;
            }
            if (req.uploadType == 'image') {
                $("#imgArea").html("<img src='" + req.contextPath + req.filePath + req.savedName + "' id=\"uploadPreviewImg\" width=\"200\">");
            } else {
                $("#fileArea").html("<a href="+ req.contextPath + req.filePath + req.savedName+ " target='_blank'>"+ req.realName +"</a>");
            }
        },
        error: function () {
            // Handle upload error
            // ...
        }
    });
} // function uploadFile
</script>
{{/partial}}

{{> template/base}}
