<%--
Created by IntelliJ IDEA.
User: yion
Date: 2014. 11. 16.
Time: 15:05
Desc: 기본형 메뉴 화면
--%>
<!-- contents -->
<div class="container">
    <div class="col-md" >
        <div style="padding-bottom: 45px;">
            <div class="btn-group" data-toggle="buttons" style="float: right">
                <a href="#" class="btn btn-primary">공간 정보수정</a>
                <a href="#" class="btn btn-primary">위키 생성</a>
                <a href="#" class="btn btn-primary">첨부파일 목록</a>
            </div>
        </div>
    </div>

</div>

<!--// contents -->


<div class="container components">
    <h1>공간의 제목이 여기에 들어가야 겠죠.</h1>

    <p class="lead">공간의 설명이 여기에 들어가게 되겠죠. 총 몇글자나 들어갈런지는 알수가 없음요. 누가누가 기나 테스트를 해볼 수 도 없고.</p>

    <section>
        <div class="page-header">
            <h3>기본형 메뉴 공간의 상단 Template</h3>
        </div>

        <div class="container">
            <div class="media">
                <a href="#" class="pull-left">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                    </div>
                </a>

                <div class="media-body">
                    <h4 class="media-heading">공간 이미지 필수로 해야할듯(따로 업로드 항목으로 빼야함) </h4>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                    purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                    fringilla. Donec lacinia congue felis in faucibus. <span class="badge">1927</span>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="page-header">
            <h3>기본 화면의 트리메뉴는 아래에 출력됨.</h3>
        </div>
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                <div class="well sidebar-nav">
                    <h4>h4. Heading 4 <span class="badge">19</span></h4>
                    <h5 style="margin-left:10px">- h5. Heading 5 <span class="badge">11</span></h5>
                    <h5 style="margin-left:20px">- h5. Heading 5 <span class="badge">23</span></h5>
                    <h5 style="margin-left:30px">- h5. Heading 5 <span class="badge">33</span></h5>

                    <h4>h4. Heading 4 <span class="badge">19</span></h4>
                    <h5 style="margin-left:10px">- h5. Heading 5 <span class="badge">11</span></h5>
                    <h5 style="margin-left:20px">- h5. Heading 5 <span class="badge">23</span></h5>
                    <h5 style="margin-left:30px">- h5. Heading 5 <span class="badge">33</span></h5>

                    <h4>h4. Heading 4 <span class="badge">19</span></h4>
                    <h5 style="margin-left:10px">- h5. Heading 5 <span class="badge">11</span></h5>
                    <h5 style="margin-left:20px">- h5. Heading 5 <span class="badge">23</span></h5>
                    <h5 style="margin-left:30px">- h5. Heading 5 <span class="badge">33</span></h5>

                    <h4>h4. Heading 4 <span class="badge">19</span></h4>
                    <h5 style="margin-left:10px">- h5. Heading 5 <span class="badge">11</span></h5>
                    <h5 style="margin-left:20px">- h5. Heading 5 <span class="badge">23</span></h5>
                    <h5 style="margin-left:30px">- h5. Heading 5 <span class="badge">33</span></h5>
                </div><!--/.well -->
            </div><!--/span-->


            <div class="col-xs-12 col-sm-9">

                <h3>최근 이 공간의 활동 내역 10개 출력합시다. </h3>
                <blockquote class="pull-right">

                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.
                            <span class="badge">1927</span>
                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.
                            <span class="badge">1927</span>
                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.
                            <span class="badge">1927</span>
                        </div>
                    </div>


                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.
                            <span class="badge">1927</span>
                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.
                            <span class="badge">1927</span>
                        </div>
                    </div>

                    <small><cite title="Source Title">더보기</cite></small>

                </blockquote>

                <hr>

                <h3>이 공간의 최근 댓글을 10개 출력합시다. </h3>
                <blockquote class="pull-right">
                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.

                        </div>
                    </div>
                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.

                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.

                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.

                        </div>
                    </div>

                    <div class="media">
                        <a href="#" class="pull-left">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="../images/avatar.png" />
                            </div>
                        </a>

                        <div class="media-body" style="font-size:13px">
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras
                            purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate
                            fringilla. Donec lacinia congue felis in faucibus.

                        </div>
                    </div>


                    <small><cite title="Source Title">더보기</cite></small>
                </blockquote>


            </div>

            <div class="col-lg-8">

            </div>

        </div>
    </section>

</div>

