{{#partial "style"}}
{{!-- 여기에 사용자 css 정의 --}}
    <link href="/resource/app/js/DualEditor/css/DualEditor.css" rel="stylesheet">
{{/partial}}

{{#partial "plugin-style"}}
{{!-- 여기에 .css 파일 경로 --}}
    <link href="/resource/public/css/bootstrap-tag-cloud/bootstrap-tag-cloud.css" rel="stylesheet">
{{/partial}}
{{#partial "script-header"}}
    <script src="/resource/app/js/DualEditor/DualEditor-core.js"></script>
    <script type='text/javascript' src="/resource/public/js/bootstrap-tag-cloud/bootstrap-tag-cloud.js"></script>
{{/partial}}

{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
<!-- contents -->
<div class="container qna-top-search">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <a href="#" class="form-control btn btn-primary">검색</a>
    </form>

    <div class="btn-group pull-right">
        <a href="/space/spaces" class="btn btn-primary" id="spaceCount"></a>
        <a href="/space/wikis" class="btn btn-primary" id="wikiCount"></a>
        <a href="/space/keywords" class="btn btn-primary" id="keywordCount"></a>
        <a href="/space/form" class="btn btn-primary">공간 생성하기</a>
    </div>

</div>

<!-- 메뉴 -->
<div class="container contents-container top-buffer">
    <!-- keyword -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        <div class="nav-tabs-header">분류키워드</div>
        <!-- 분류키워드 list start -->
        <div id="categorizeKeywordListArea"></div>
        <!-- 분류키워드 list end -->

    </div>
    <!--// lnb -->

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <!-- 전체 공간 -->
        <div class="nav-tabs-header">전체 공간
        <!--
        <span class="pull-right section-category">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Today</a></li>
                <li><a href="#">Week</a></li>
            </ul>
        </span>
        -->
        </div>

        {{> space/template/_allSpaceList}}
        <br>
        <p class="lead text-right" ><button class="btn btn-default">Read More</button></p>
        <!--// 전체 공간 -->
    </div>

    <div class="col-md-4">
        <!-- 내 즐겨찾기 -->
        <div class="nav-tabs-header">내 즐겨찾기 공간</div>
        {{> space/template/_myfavoriteList}}

        <div class="top-buffer">&nbsp;</div>
        <div class="nav-tabs-header">최근 위키</div>
        {{> space/template/_recentWikiList}}
        <!--// BEST Q&A -->
    </div>
</div>
<!--// contents -->
{{/partial}}

{{#partial "script-page"}}
    {{embedded "common/keywordList"}}
    <script type="text/javascript">
        $(document).ready(function(){
            Space.init();
        });

        var Space = {
            init : function(){
                this.renderKeywordList();
                this.spaceCount();
                this.wikiCount();
                this.keywordCount();
            },
            renderKeywordList : function(keywordName){
                $.ajax({
                    url: "/common/findKeywordList",
                    type: "POST",
                    data: { keywordType : 'SPACE', keywordName : Space.selectedKeyword(keywordName) },
                    success : function(data){
                        if(data.resultCode == 1) {
                            var source = $('#common-keywordList-hbs').html();
                            var template = Handlebars.compile(source);

                            var html = template(data);
                            $('#categorizeKeywordListArea').html(html);
                            Space.bindKeywordListEvent();
                        }
                    },
                    error : function(req){
                        // Handle upload error
                        alert('req : ' + req);
                        console.log('req : ' + req.status);
                        console.log('req : ' + req.readyState);

                        alert('키워드 목록 조회에서 에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                    }
                });
            },
            selectedKeyword : function(keywordName){
                if(!keywordName){
                    keywordName = '';
                }
                return keywordName;
            },
            bindKeywordListEvent : function(){
                $('#categorizeKeywordListArea').find('li').click(function(){
                    // Space.renderKeywordList(this.getAttribute('value'));
                });
            },
            spaceCount : function() {
                $.ajax({
                    url: "/space/count",
                    type: "GET",
                    success : function(data){
                        $("#spaceCount").text("개설된 공간수(" + data +")");
                    },
                    error : function(req){
                        alert('전체 공간 수 조회 에러. 에러코드 [' + req.status + ']');
                    }
                })
            },
            wikiCount : function() {
                $.ajax({
                    url: "/wiki/count",
                    type: "GET",
                    success : function(data){
                        $("#wikiCount").text("생성된 위키수(" + data +")");
                    },
                    error : function(req){
                        alert('생성된 위키 수 조회 에러. 에러코드 [' + req.status + ']');
                    }
                })
            },
            keywordCount : function() {
                $.ajax({
                    url: "/keyword/count",
                    type: "GET",
                    success : function(data){
                        $("#keywordCount").text("등록된 키워드수(" + data + ")");
                    },
                    error : function(req){
                        alert('키워드 수 조회 에러. 에러코드 [' + req.status + ']');
                    }
                })
            }
        };
    </script>
{{/partial}}

{{> template/base}}
