{{#partial "style"}}
{{!-- 여기에 사용자 css 정의 --}}
    <link href="/resource/app/js/DualEditor/css/DualEditor.css" rel="stylesheet">
{{/partial}}

{{#partial "plugin-style"}}
{{!-- 여기에 .css 파일 경로 --}}
    <link href="/resource/public/css/bootstrap-tag-cloud/bootstrap-tag-cloud.css" rel="stylesheet">
{{/partial}}
{{#partial "script-header"}}
    <script src="/resource/app/js/DualEditor/DualEditor-core.js"></script>
    <script type='text/javascript' src="/resource/public/js/bootstrap-tag-cloud/bootstrap-tag-cloud.js"></script>
{{/partial}}

{{#partial "title"}}LibQA~{{/partial}}

{{# partial "content" }}
<!-- contents -->
<div class="container qna-top-search">
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <a href="#" class="form-control btn btn-primary">검색</a>
    </form>

    <div class="btn-group pull-right">
        <a href="/space/spaces" class="btn btn-primary">개설된 공간수(200)</a>
        <a href="/space/wikis" class="btn btn-primary">생성된 위키수(3000)</a>
        <a href="/space/keywords" class="btn btn-primary">등록된 키워드수(11200)</a>
        <a href="/space/form" class="btn btn-primary">공간 생성</a>
    </div>

</div>

<!-- 메뉴 -->
<div class="container contents-container top-buffer">
    <!-- keyword -->
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">

        <div class="nav-tabs-header">분류키워드</div>
        <!-- 분류키워드 list start -->
        <div id="categorizeKeywordListArea"></div>
        <!-- 분류키워드 list end -->

    </div>
    <!--// lnb -->

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <!-- 전체 공간 -->
        <div class="nav-tabs-header">전체 공간
        <!--
        <span class="pull-right section-category">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Today</a></li>
                <li><a href="#">Week</a></li>
            </ul>
        </span>
        -->
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-default">Spring</span>
                    <span class="label label-success">JAVA</span>
                    <span class="label label-warning">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-primary">Spring</span>
                    <span class="label label-danger">JAVA</span>
                    <span class="label label-info">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-primary">Spring</span>
                    <span class="label label-success">JAVA</span>
                    <span class="label label-warning">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-primary">Spring</span>
                    <span class="label label-success">JAVA</span>
                    <span class="label label-warning">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-primary">Spring</span>
                    <span class="label label-success">JAVA</span>
                    <span class="label label-warning">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-primary">Spring</span>
                    <span class="label label-success">JAVA</span>
                    <span class="label label-warning">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-primary">Spring</span>
                    <span class="label label-success">JAVA</span>
                    <span class="label label-warning">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-primary">Spring</span>
                    <span class="label label-success">JAVA</span>
                    <span class="label label-warning">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <strong> 공간 명이 출력됩니다.</strong>
                <div class="pull-right">
                    <span class="label label-primary">Spring</span>
                    <span class="label label-success">JAVA</span>
                    <span class="label label-warning">JavaScript</span>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...위키를 추가...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="pull-left"><span class="nickname">공간오너 : sjune</span></div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <!--// 전체 공간 -->
    </div>

    <div class="col-md-4">
        <!-- 내 즐겨찾기 -->
        <div class="nav-tabs-header">내 즐겨찾기 공간</div>
        <div class="best-qna-item">
            <div>
                <span class="label label-primary">Spring</span>
                <span class="label label-success">JAVA</span>
                <strong> 스프링 AOP에 대해서 설명 좀 해주...</strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">용퓌</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <span class="label label-warning">JavaScript</span>
                <strong> 자바스크립트 AOP 설명좀 </strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile"><img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    그런거 없습니다.그런거 없습니다.그런거 없습니다.그런거 없습니다.그런거 없습..
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">선준</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <span class="label label-primary">Spring</span>
                <span class="label label-success">JAVA</span>
                <strong> 스프링 AOP에 대해서 설명 좀</strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile"><img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">Quick</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <span class="label label-primary">Spring</span>
                <span class="label label-success">JAVA</span>
                <strong> 스프링 AOP에 대해서 설명 좀</strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile"><img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">손간지</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <!-- 최근 위키  -->
        <div class="top-buffer">&nbsp;</div>
        <div class="nav-tabs-header">최근 위키</div>
        <div class="best-qna-item">
            <div>
                <span class="label label-primary">Spring</span>
                <span class="label label-success">JAVA</span>
                <strong> 스프링 AOP에 대해서 설명 좀</strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile">
                        <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">용퓌</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <span class="label label-warning">JavaScript</span>
                <strong> 자바스크립트 AOP 설명좀 </strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile"><img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    그런거 없습니다.그런거 없습니다.그런거 없습니다.그런거 없습니다.그런거 없습..
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">선준</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <span class="label label-primary">Spring</span>
                <span class="label label-success">JAVA</span>
                <strong> 스프링 AOP에 대해서 설명 좀</strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile"><img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">Quick</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <span class="label label-primary">Spring</span>
                <span class="label label-success">JAVA</span>
                <strong> 스프링 AOP에 대해서 설명 좀</strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile"><img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">손간지</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <div class="best-qna-item">
            <div>
                <span class="label label-primary">Spring</span>
                <span class="label label-success">JAVA</span>
                <strong> 스프링 AOP에 대해서 설명 좀</strong>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <div class="user-profile"><img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                    </div>
                </a>
                <div class="media-body">
                    첫번째 타임라인 어쩌구 저쩌구해서 내용이 나오는데 어쩌구 저쩌구~? 솰라솰라...
                    <div class="pull-right"><span class="badge">291</span></div>
                </div>
                <div class="user-profile-sm">
                    <span class="nickname">용퓌</span>
                </div>
                <div class="pull-right">2014-04-05 12:12</div>
            </div>
        </div>

        <!--// BEST Q&A -->

    </div>
</div>
<!--// contents -->
{{/partial}}

{{#partial "script-page"}}
    {{embedded "common/keywordList"}}
    <script type="text/javascript">
        $(document).ready(function(){
            Space.init();
        });

        var Space = {
            init : function(){
                this.renderKeywordList();
            },
            renderKeywordList : function(keywordName){
                $.ajax({
                    url: "/common/getKeywordList",
                    type: "POST",
                    data: { keywordType : 'SPACE', keywordName : Space.selectedKeyword(keywordName) },
                    success : function(data){
                        if(data.resultCode == 1) {
                            var source = $('#common-keywordList-hbs').html();
                            var template = Handlebars.compile(source);

                            var html = template(data);
                            $('#categorizeKeywordListArea').html(html);
                            Space.bindKeywordListEvent();
                        }
                    },
                    error : function(req){
                        // Handle upload error
                        alert('req : ' + req);
                        console.log('req : ' + req.status);
                        console.log('req : ' + req.readyState);

                        alert('키워드 목록 조회에서 에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                    }
                });
            },
            selectedKeyword : function(keywordName){
                if(!keywordName){
                    keywordName = '';
                }
                return keywordName;
            },
            bindKeywordListEvent : function(){
                $('#categorizeKeywordListArea').find('li').click(function(){
                    Space.renderKeywordList(this.getAttribute('value'));
                });
            }
        };
    </script>
{{/partial}}




{{> template/base}}
