{{# partial "content" }}
    <!--  메뉴  -->
    <div class="container-fluid">
        <div class="col-sm-12">
            <div class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" data-linkval="searchText" class="form-control" placeholder="Search">
                </div>
                <span class="form-control btn btn-primary" data-link="/wiki/search" data-linktype="search">
                    위키검색
                </span>
            </div>
            <div class="btn-group pull-right">
                <a class="form-control btn btn-primary" href="/wiki/write">
                    위키생성
                </a>
            </div>
        </div>


        <div class="col-sm-12 top-buffer wiki-main">
            <!-- 하단 컨텐츠 -->
            <div class="col-md-12 col-lg-12">
                <!-- 전체 키워드 선택 -->
                <div class="col-md-2" style="padding-left: 0px;" id="categorizeKeywordListArea">
                    <div class="well">전체 키워드 선택</div>
                    <ul class="nav nav-pills nav-stacked" >

                    </ul>
                </div>
                <!--// 전체 키워드 선택 -->

                <div class="col-md-6">
                    <!-- 전체 위키 -->
                    <div id="allWikiList">
                        <div class="nav-tabs-header">
                            전체 위키
                            <span class="pull-right section-category">
                                <ul class="nav nav-tabs" id="allListSearch">
                                    <li class="active"><a href="#" data-val="insertDate">최신순</a></li>
                                    <li><a href="#" data-val="title">이름순</a></li>
                                </ul>
                            </span>
                        </div>

                        {{> wiki/template/_allList}}
                    </div>
                    <!--// 위키 -->

                </div>

                <div class="col-md-4" style="padding-right: 0px;">

                    <div class="nav-tabs-header">베스트 위키</div>
                    {{> wiki/template/_bestList}}
                    <div class="top-buffer">&nbsp;</div>

                    <!-- 최근 활동 -->
                    <div class="nav-tabs-header">최근 활동</div>
                    <div id="recentWikiList">
                        {{> wiki/template/_recentList}}
                    </div>
                    <!--// 최근 활동 -->
                </div>
            </div>
        </div>



{{/partial}}

{{# partial "script-page" }}
{{embedded "common/_keywordList"}}
    <script>
        $(document).ready(function() {
            Wiki.renderKeywordList();
            $("#allListSearch a").click(function(){
                Wiki.searchAllWikiListType(this.dataset.val);
            });
        });
        var Wiki = {
            renderKeywordList : function(keywordName){
                $.ajax({
                    url: "/common/findKeywordList",
                    type: "POST",
                    data: { keywordType : 'WIKI', keywordName : Wiki.selectedKeyword(keywordName) },
                    success : function(data){
                        if(data.resultCode == 1) {
                            var source = $('#common-_keywordList-hbs').html();
                            var template = Handlebars.compile(source);

                            var html = template(data);
                            $('#categorizeKeywordListArea').html(html);
                            Wiki.bindKeywordListEvent();
                        }
                    },
                    error : function(req){
                        // Handle upload error
                        alert('req : ' + req);
                        console.log('req : ' + req.status);
                        console.log('req : ' + req.readyState);

                        alert('에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                    }
                });
            },
            selectedKeyword : function(keywordName){
                if(!keywordName){
                    keywordName = '';
                }
                return keywordName;
            },
            bindKeywordListEvent : function(){
                $('#categorizeKeywordListArea').find('li').click(function(){
                    Wiki.renderKeywordList(this.getAttribute('value'));
                });
            },

            searchAllWikiListType : function(listViewType){
                $.ajax({
                    url: "/wiki/allList/"+listViewType,
                    type: "GET",
                    success : function(result){
                        debugger;
                        if( result.data != null){
                            if( result.data.result == 1  ){

                            }
                        }
                    },
                    error : function(req){
                        console.log('req : ' + req.status);
                        console.log('req : ' + req.readyState);
                        alert('에러가 발생하였습니다. 에러코드 [' + req.status + ']');
                    }
                });

            }
        }
    </script>
{{/partial}}


{{> template/base}}