<form class="navbar-form navbar-left" role="search" action="/search">
    <input type="hidden" name="page" value="qa" />
    <div class="form-group">
        <input name="query" type="text" class="form-control" placeholder="Search" value="{{query}}">
    </div>
    <button class="form-control btn btn-primary">Q&A 검색</button>
</form>