<form class="navbar-form navbar-left" role="search" action="/search">
    <input type="hidden" name="pageKey" value="wiki" />
    <div class="form-group">
        <input name="query" type="text" class="form-control" placeholder="Search" value="{{query}}">
    </div>
    <button class="form-control btn btn-primary">위키 검색</button>
</form>