{{# partial "title" }}Feed{{/partial}}

{{# partial "content" }}
<div class="container">
    <div class="col-md-12 col-xs-12">
        <!-- feed 글 쓰기 start -->
        <form id="feedForm">
        <div class="feed feed-write well">
            <div class="feed-write-top">
                <div class="action-buttons text-right">
                    <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#fileUploadModal">이미지 및 파일첨부</button>
                </div>
            </div>
            <ul>
                <li>
                    <div class="author">
                        <div class="user-profile">
                            <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                        </div>
                    </div>
                    <div class="write-box">
                        <textarea class="form-control" name="feedContent" rows="6" placeholder="오늘 있었던 일을 동료와 공유해주세요"></textarea>
                    </div>
                    <div class="attachmentArea">
                        <div class="images text-left"></div>
                        <div class="files">
                            <!--<a href="#"><i class="fa fa-file-o"></i> 첨부파일.zip</a>-->
                        </div>
                    </div>
                </li>
            </ul>
            <div class="feed-write-bottom text-right">
                <button class="btn btn-info" type="button" id="feedSave">저장</button>
            </div>
        </div>
        </form>
        <!-- feed 글 쓰기 end -->

        <!-- feed 글 목록 start -->
        <div class="feed well">
            <ul id="feedList"></ul>
        </div>
        <!-- feed 글 목록 end -->
        
        <div id="right-panel-container">
            <a id="right-panel-link" href="#right-panel"><i class="fa fa-bars fa-3x"></i></a>
        </div>
    </div>
</div>

<div id="right-panel" class="right-panel">
    <div class="panel panel-default panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">이달의 Best Feed</h3>
        </div>
        <div class="panel-body best-feed">
            <ul class="media-list">
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
                <li class="media">
                    <a href="#" class="pull-left">
                        <div class="author">
                            <div class="user-profile-sm">
                                <img alt="avatar" class="profile-image" src="/resource/images/avatar.png"/>
                            </div>
                        </div>
                    </a>

                    <div class="media-body" data-toggle="modal" data-target="#bestFeedModal">
                        <p>첫번째 타임라인 어쩌구 저쭈구 해서.... &nbsp;<span class="badge">30</span></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- best feed modal start -->
<div class="modal fade" id="bestFeedModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">FEED 제목</h4>
            </div>
            <div class="modal-body">
                <div class="feed well">
                    <ul>
                        <li class="thread">
                            <div class="author">
                                <div class="user-profile">
                                    <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                                </div>
                            </div>
                            <div class="name">sjune</div>
                            <div class="date">2014.07.23 23:00</div>
                            <div class="config"><i class="fa fa-check popover-config" data-container="body" data-toggle="popover" data-placement="right"></i></div>
                            <div class="threaad-message-box">
                                <div class="message">
                                    객체지향 프로그래밍에 있어서 가장 중요한 개념 중 하나인 "캡슐화"에 대한 제 생각을 정리해 보았습니다. 어떻게 생각하시는지 많은 의견 부탁드립니다.
                                </div>
                                <div class="action-buttons">
                                    <i class="fa fa-thumbs-o-up"><span class="like-count">(30)</span></i>
                                    <i class="fa fa-bullhorn"><span class="claim-count">(0)</span></i>
                                </div>
                            </div>

                            <ul>
                                <li>
                                    <div class="author">
                                        <div class="user-profile-sm">
                                            <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                                        </div>
                                    </div>
                                    <div class="name">Yion Lee</div>
                                    <div class="date">2014.07.23 23:00</div>
                                    <div class="config">
                                        <i class="fa fa-check popover-config" data-container="body"
                                           data-toggle="popover" data-placement="right"></i>
                                    </div>
                                    <div class="message-box">
                                        <div class="message">
                                            좋은 글 잘 읽었습니다. 캡슐화에 대한 설명도 OOP에 입문하는 사람들이 이해하기 편하게 서술되어있구요. 다만 한가지 오해를 살 수 있는
                                            부분에
                                            대해서는 조금 짚고 넘어가겠습니다. 글 내용중 C언어의 구조체는 객체가 아니다, 왜냐하면 캡슐화를 할 수 없기때문이다라고 서술하셨는데
                                            이는
                                            C언어 =
                                            절차지향 언어다라는 고정관념으로 인한 다소의 오해의 여지는 있습니다. C언어로도 얼마든지 객체지향적인 프로그래밍이 가능합니다. 실제로
                                            커널
                                            소스를 보면
                                            C++에서 다형성을 구현하는 주요 원리인 가상함수가 구조체의 함수포인터로 구현되어있는 것을 볼 수 있습니다. 즉, 'OOP 그 자체는
                                            언어와는
                                            무관한
                                            개념'이라고 보는 게 맞습니다. 다만 일반적인 C프로그래밍을 할 때 객체지향으로 프로그래밍 하는 경우는 많지는 않겠죠..
                                        </div>
                                        <div class="action-buttons">
                                            <i class="fa fa-thumbs-o-up"><span class="like-count">(30)</span></i>
                                            <i class="fa fa-bullhorn"><span class="claim-count">(0)</span></i>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="author">
                                        <div class="user-profile-sm">
                                            <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                                        </div>
                                    </div>
                                    <div class="name">SON JS</div>
                                    <div class="date">2014.07.23 23:00</div>
                                    <div class="config"><i class="fa fa-check popover-config" data-container="body"
                                                           data-toggle="popover" data-placement="right"></i></div>
                                    <div class="message-box">
                                        <div class="message">
                                            저 동적 바인딩도 알려주시면 안됄까요? 너무 어려워서 그런데
                                        </div>
                                        <div class="action-buttons">
                                            <i class="fa fa-thumbs-o-up"><span class="like-count">(30)</span></i>
                                            <i class="fa fa-bullhorn"><span class="claim-count">(0)</span></i>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="author">
                                        <div class="user-profile-sm">
                                            <img alt="avatar" class="profile-image" src="/resource/images/avatar.png" />
                                        </div>
                                    </div>
                                    <div class="name">용퓌</div>
                                    <div class="date">2014.07.23 23:00</div>
                                    <div class="config"><i class="fa fa-check popover-config" data-container="body"
                                                           data-toggle="popover" data-placement="right"></i></div>
                                    <div class="message-box">
                                        <div class="message">
                                            박지원 새정치민주연합 의원이 유병언 전 회장 변사체 발견 지점이 민가 인근임에도 개가 짖거나 까마귀가 오지 않았으며 사체 부패에 따른
                                            냄새도
                                            나지
                                            않았다는 내용이 담긴 주민 녹취록 등을 공개했습니다.
                                        </div>
                                        <div class="action-buttons">
                                            <i class="fa fa-thumbs-o-up"><span class="like-count">(30)</span></i>
                                            <i class="fa fa-bullhorn"><span class="claim-count">(0)</span></i>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- best feed modal end -->

<!-- file upload start -->
<div class="modal fade" id="fileUploadModal" tabindex="-1" role="dialog" aria-hidden="true" aria-labelledby="fileUploadModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="fileUploadModalLabel">이미지 및 파일 첨부</h4>
            </div>
            <div class="modal-body">
                <div class="feed well">
                    <form class="form-horizontal attachmentForm" role="form" id="feedFileForm">
                        <div class="form-group">
                            <input id="uploadfile" type="file" name="uploadfile" accept="*" style="display:none">
                            <label for="fileAttachmentInput" class="col-sm-2 control-label">첨부파일</label>

                            <div class="col-sm-10 col-md-10">
                                <div class="row">
                                    <div class="col-sm-9 col-xs-9 col-md-9">
                                        <input id="fileAttachmentInput" class="form-control" type="text" />
                                    </div>
                                    <div class="col-sm-3 col-xs-3 col-md-3">
                                        <button class="btn btn-info btn-default" type="button" onclick="$('#uploadfile').click();">선택</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group image-options">
                            <label class="col-sm-2 col-md-2 control-label">미리보기</label>

                            <div class="col-sm-10 col-md-10">
                                <img src="https://octodex.github.com/images/droctocat.png" alt="이미지 미리보기" class="img-thumbnail image-preview">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- file upload modal end -->

<!-- popover-config start -->
<div id="popover-config-content" style="display: none;">
    <div class="button"><a href="#">수정</a></div>
    <div class="button"><a href="#">삭제</a></div>
</div>
<div id="popover-feed-image-content" style="display: none;">
    <div class="file_upload"><a href="#">파일 업로드</a></div>
    <div class="web_link"><a href="#">웹 링크</a></div>
</div>
<!-- popover-config end -->
{{/partial}}

{{# partial "script-page" }}
{{embedded "feed/list"}}
    <script type="text/javascript">
        var Feed = {
            init : function() {
                this.initModal();
                this.bindSave();
                this.bindAttachment();
                this.searchList();
            },
            searchList : function() {
                $.get("/feed/list", function (response) {
                    if(response.resultCode != 1) {
                        alert(response.comment);
                        return;
                    }
                    var source = $('#feed-list-hbs').html();
                    var template = Handlebars.compile(source);

                    var html = template(response);
                    $('#feedList').html(html);
                });
            },
            bindSave : function() {
                var that = this;
                $('#feedSave').click(function(){
                    if(!that.checkValidate()) {
                        return false;
                    }
                    var data = $('#feedForm').serialize();
                    $.post('/feed/save', data)
                        .done(function(response){
                            if(response.resultCode != 1) {
                                alert(response.comment);
                                return;
                            }

                            that.searchList();
                            that.clearForm();
                            FeedFile.clear();
                        }).fail(function(){
                            alert('Error saving feed');
                        });
                });
            },
            clearForm: function() {
                $('#feedForm').find('textarea').val('');
            },
            checkValidate: function() {
                var $frm = $('#feedForm');
                if (!$frm.find('textarea[name=feedContent]').val().trim().length) {
                    alert('feed를 입력해주세요!');
                    return false;
                }
                return true;
            },
            bindAttachment: function () {
                $('#uploadfile').change(function(){
                    $('#fileAttachmentInput').val($('#uploadfile').val());
                    
                    var $feedFileForm = $("#feedFileForm");
                    $.ajax({
                        url: "/common/uploadFile",
                        type: "POST",
                        data: new FormData($feedFileForm[0]),
                        enctype: 'multipart/form-data',
                        processData: false,
                        contentType: false,
                        cache: false,
                        success: function (req) {
                            FeedFile.add(req.data);
                            $('#fileUploadModal').modal('hide');
                        },
                        error: function (req) {
                            alert('업로드 중 에러가 발생했습니다. 파일 용량이 허용범위를 초과 했거나 올바르지 않은 파일 입니다.');
                        }
                    });
                });
            },
            initModal: function() {
                $('#fileUploadModal').on('show.bs.modal', function () {
                    $('#fileAttachmentInput').val('');
                });
            }
        };

        var FeedFile = {
            add: function(fileObj) {
                this.createDownloadLinkToForm(fileObj);
                this.addHiddenTagToForm(fileObj);
            },
            clear: function(){
                this.removeDonwloadLinksInForm();
                this.removeHiddenTagsInForm();
            },
            createDownloadLinkToForm: function (obj) {
                var downloadPath = obj.filePath + '/' + obj.savedName;
                var $file = ' <a href="' + downloadPath + '" target="_blank"><i class="fa fa-file-o"></i> ' + obj.realName + '</a>';
                $('#feedForm .attachmentArea .files').append($file);
            },
            addHiddenTagToForm: function (obj) {
                var idx = $('#feedForm input[name$=fileType]').size();
                
                var $input = $('<input />').attr('type', 'hidden');
                $('#feedForm').append($input.clone().attr('name', "feedFiles["+ idx + "].realName").val(obj.realName))
                    .append($input.clone().attr('name', "feedFiles["+ idx + "].savedName").val(obj.savedName))
                    .append($input.clone().attr('name', "feedFiles["+ idx + "].filePath").val(obj.filePath))
                    .append($input.clone().attr('name', "feedFiles["+ idx + "].fileSize").val(obj.fileSize))
                    .append($input.clone().attr('name', "feedFiles["+ idx + "].fileType").val(obj.fileType));

//                $('#feedForm').append('<input type="hidden" name="feedFiles['+ idx + '].realName" value="'+ obj.realName+'" />')
//                    .append('<input type="hidden" name="feedFiles['+ idx + '].savedName" value="'+ obj.savedName +'" />')
//                    .append('<input type="hidden" name="feedFiles['+ idx + '].filePath" value="'+ obj.filePath +'" />')
//                    .append('<input type="hidden" name="feedFiles['+ idx + '].fileSize" value="'+ obj.fileSize +'" />')
//                    .append('<input type="hidden" name="feedFiles['+ idx + '].fileType" value="'+ obj.fileType +'" />')
            },
            removeDonwloadLinksInForm: function() {
                $('#feedForm .attachmentArea .files').empty();
                $('#feedForm input[name^=feedFiles]').remove();
            },
            removeHiddenTagsInForm: function() {
                $('#feedForm input[name^=feedFiles]').remove();
            }
        };
        
    $(function(){
        Feed.init();
//        $('#right-panel-link').panelslider({side: 'right', clickClose: true, duration: 200 });
    });
    </script>
    <script src="/resource/public/js/jquery/plugin/jquery-panelslider/jquery.panelslider.min.js"></script>
{{/partial}}

{{> template/base}}
